node_modules/
dist/
config/
tests/
build/
src/assets/font

webpack.config.js
commitlint.config.js
postcss.config.js
tailwind.config.js
.eslintrc.js
.lintstagedrc.js
infinity.config.js
**/*.stories.*
**/*.test.*
**/*.spec.*
*.d.ts
infinity.config.js
**/*.json
